@charset "utf-8";

.row { width: 98%; margin: 0 auto; position: relative; height: 100%; }

/* video */
#videoBg { position: fixed; width: 100%; height: 100%; }
#videoBg video { min-width:100%; min-height:100%; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); }
#videoBg .pattern { width: 100%; height: 100%; background: url(../../images/raster.png) repeat top left; top: 0; left: 0; position: absolute; z-index: 2; }
#videoBg .mobileVideo { position: relative; width: 100%; height: 100%; background: #000; display: block; display: none; }
#videoBg .mobileVideo img { position: absolute; height: 100%; width: 100%; }

/* header */
#testObj { position: absolute; width: 100%; height: 100%; z-index: 2; padding: 0 4%; }
#testObj .header { position: absolute; top: 0; left: 50%; transform: translateX(-50%);
    border-bottom: 1px solid rgba(255,255,255,1); width: 100%; height: 100px; line-height: 100px; }
#testObj .header .logo { position: absolute; top: 0; left: 0; }
#testObj .header .members { position: absolute; right: 0; top: 0; }
#testObj .header .members img { margin-left: 10px; transform: scale(0.8); }

/* siteMap */
#testObj .siteMap { position: absolute; top: 130px; }
#testObj .siteMap span { display: block; width: 38px; height: 4px; background: #fff; top: 50%; left: 50%; margin-top: 9px; border-radius: 5px; }

/* nav */
#testObj .nav { position: absolute; top: 210px; }
#testObj .nav .menu { height: 64px; color: #fff; line-height: 64px; }
#testObj .nav .menu p { display: inline-block; line-height: 64px; font-size: 1.3rem; }

/* sns */
#testObj .sns { position: absolute; bottom: 70px; right: 0; }
#testObj .sns > div { position: relative; width: 42px; height: 42px; background: #e94769; border-radius: 7px;
    margin-top: 11px; }
#testObj .sns > div img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0.8); }

/* container */
#container .mMainVis { display: none; }

/* footer */
#footer { position: relative; width: 100%; background: #fff; }
#footer .row { max-width: 1200px; margin: 0 auto; padding: 0 20px; }
#footer .partner { height: 95px; }
.footSlide .slide { margin: 0 20px; background-size: cover; background-position: center; position: relative; }
.footSlide .slide a { text-align: center; }
.footSlide .arr-box { position: absolute; height: 33px; width: 33px; top: 50%; transform: translateY(-50%); background: transparent; }
.footSlide .prev { left: 0; text-align: right; }
.footSlide .next { right: 0; text-align: left; }
.footSlide .arr { display: inline-block; border-top: 2px solid #e94769; border-left: 2px solid #e94769; width: 16px; height: 16px; transform: translateY(-50%); line-height: 1; }
.footSlide .arr-left { transform: rotate(-45deg); margin: 3px 6px 0 0; }
.footSlide .arr-right { transform: rotate(-225deg); margin: 3px 0 0 7px; }
#footer .companyInfo { height: 100%; background: #fcfaf9; padding: 50px 0 80px; border-top: 1px solid #e6e6e6; }
#footer .companyInfo .addInfo { color: #5b5b5b; padding-top: 35px; line-height: 2.2rem; }
#footer .companyInfo .addInfo p span { padding-right: 10px; display: inline-block; }







@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 860px) {
    .mbYTP_wrapper { display: none; }
    #videoBg .mobileVideo { display: block; }
    
    #testObj .header .members img:last-child { display: none; }

    #footer { top: 0; }
    #footer .companyInfo .copyLogo a { display: inline-block; width: 46%; }
    #footer .companyInfo .copyLogo a img { width: 100%; }
    #footer .companyInfo .addInfo { font-size: 0.9rem; }
}